.qa-solution-wrapper {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    padding-top: 4em;
    height: 100vh;

    .sub-heading {
        font-size: 1.8em;
    }

    .heading {
        font-size: 3em;
        font-weight: 500;
    }

    .main-heading {
        font-size: 3.1em;
        font-weight: 700;
    }

    .section-heading-wrapper>p {
        color: white;
        margin: 0;
    }

    .section-heading-wrapper {
        padding-bottom: 2em;
    }

    .custom-list {
        line-height: 4em;

        li {
            // list-style-type: none;
            display: flex;
            font-size: 1.3em;
            color: #C5B0DB;

            .service-list {
                border-left: 1px solid white;
                padding-left: 2em;

            }

            .list-numer {
                padding-right: 2em;

            }

            .active {
                color: white;
            }
        }

        li:hover {
            color: white;
        }
    }

    .qas-brief-intro {
        width: 100%;
        max-height: 90%;
        background: white;
        padding: 3em 10em 5em 5em;
        border-radius: 80px 15px 50px 0px;
        position: relative;

        .qas-heading {
            font-size: 1.8em;
            font-weight: 700;
        }

        .qas-list {
            line-height: 2.5em;
            color: black;
            padding-left: 1em;

            li {
                color: black;
            }
        }

        .qas-custom-circle {
            width: 22em;
            height: 22em;
            border-radius: 50%;
            background-image: url(/images/element5-digital-OyCl7Y4y0Bk-unsplash.jpg);
            position: absolute;
            top: -3em;
            right: -7em;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .know-more-btn {
            border: 1px solid #4a00e0;
            border-radius: 30px;
            padding: 1em 3em;
            color: #4a00e0;
            background: white;
            font-weight: 600;

            img {
                width: 1.6em;
                color: #4a00e0;
            }
        }
    }
}