@import 'header';
@import 'front_banner';
@import 'at_a_glance';
@import 'qa_solution';
@import 'industries-serve';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", arial, sans-serif;
}